
body{
    font-family: sans-serif;
    width: 800px;
    background-color: #fff;
    border: thick solid black;
    margin: 0 auto;
    box-shadow: 10px 10px 5px black;
    align-content: center;
   
}
header{
    border-bottom: thick solid black;
    background:linear-gradient(45deg,white,orange 75%,black);
    height: 75px;
}
header img{
   float: left;
}
h1{
    font-size: 150%;
    text-indent: 50px;
    
}
h2{
    font-size: 120%;
    text-indent: 50px;
}
h3{
    font-size:165%;
    }
    h3::first-letter{
        font-size: 200%;
    }
h4{
    font-size: 100%;
}
h5{
    font-size: 165%
}
a{
    color:black;
    padding-top:5px;
}
a:hover{
    color:green;
}

footer{
    font-size:75%;
    text-align: center;
    background:linear-gradient(45deg, black,orange 75%, white);
    height: 75px;
    border-top: thick solid black;
    clear:both;
}
html{
    background-image: url("images/bats.gif");
    background-color: #fff;
}


#mainbar{
    float:right;
    width:640px;
}
#navbar{
    float:left;
    width:120px;
}
img{
    display: inline-block;
}
#navbar li a{
    border:5px black;
    background-color: orange;
    padding-bottom: 10px;
    
}
hormenu{
   width:100%;
   background-color: black;
   float:top;
}
hormenu ul{
    margin:0;
    padding: 0;
    float:left;
}
hormenu ul li{
    display:inline;
}
hormenu ul li a{
    float:left;
    text-decoration: none;
    color: white;
    padding: 10px 11px;
    background-color: black;
}
hormenu ul li a:active{
    color: orange;
}
hormenu ul li a:hover{
    color: grey;
}
br{
    clear:left;
}