
body{
    font-family: sans-serif;
    width: 800px;
    background-color: #fff;
    border-color: black;
    margin: 0 auto;
    box-shadow: 10px 10px 5px black;
    align-content: center;
   
}
header{
    border-bottom: thick solid black;
    height: 75px;
    background:linear-gradient(45deg,white,orange 75%,black);
}
img{
   float: left;
}
h1{
    font-size: 150%;
    text-indent: 50px;
    
}
h2{
    font-size: 120%;
    text-indent: 50px;
}
h3{
    font-size:165%;
    }
    h3::first-letter{
        font-size: 200%;
    }
h4{
    font-size: 100%;
}
a{
    color:orange;
    padding-bottom:5px;
}
a:hover{
    color:green;
}
ul{
  color:black;
        
    }
 li{
      padding-bottom: 5px;  
    }
footer{
    font-size:75%;
    text-align: center;
    background:linear-gradient(45deg, black,orange 75%, white);
    height: 75px;
    border-top: thick solid black;
}
html{
    background-image: url("images/bats.gif");
    background-color: #fff;
}
aside{
    float: left;
    width: 160px;
}